:root {
	--font-main: "Poppins", sans-serif;
	--font-secondary: adobe-garamond-pro, Times, Times New Roman, serif;
	--color-theme-primary: #d9d9d9;
	--color-text: #2b292b;
	font-family: var(--font-main);
	color: var(--color-text);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 180px;
}

body {
	min-height: 100vh;
	margin: 0;
}

p {
	font-weight: 300;
	font-style: normal;
}

ul li {
	font-weight: 300;
	font-style: normal;
}

caption {
	font: 400 1.3125rem/1.4  var(--font-secondary);
    margin-top: .9375rem;
    margin-bottom: 0;
	display: inline;
}

h1 {
	margin-top: .9375rem;
	margin-bottom: 0;
    font: 600 3rem/1.1 var(--font-main);
    letter-spacing: -.0625rem;
	display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
	font: 500 2.0rem/1.1 var(--font-main);
	margin-top: 1.25rem;
}

h3 {
	font: 700 1.125rem/1.2 var(--font-main);
	margin-top: 1.25rem;
}

a, a:visited {
	color: unset;
}

a:hover, a:active {
	color: var(--color-theme-primary);
}

figure {
	margin: 0;
}